<h1 mat-dialog-title class="modal-title d-flex justify-content-between align-items-center">
    Ingresar Nueva Matricula
    <button class="btn-close" (click)="closeModal()"></button>
</h1>
<div mat-dialog-content class="modal-content">
    <form [formGroup]="matriculaForm" (ngSubmit)="onSubmit()">
        <h2 class="h5 d-flex justify-content-between align-items-center">
            <strong>Datos Apoderado</strong>
        </h2>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="primer_nombre" class="form-label">Primer Nombre</label>
                <input id="primer_nombre" formControlName="primer_nombre" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="segundo_nombre" class="form-label">Segundo Nombre</label>
                <input id="segundo_nombre" formControlName="segundo_nombre" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="primer_apellido" class="form-label">Primer Apellido</label>
                <input id="primer_apellido" formControlName="primer_apellido" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="segundo_apellido" class="form-label">Segundo Apellido</label>
                <input id="segundo_apellido" formControlName="segundo_apellido" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
                <input type="date" id="fecha_nacimiento" formControlName="fecha_nacimiento" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="rut" class="form-label">RUT</label>
                <div class="input-group">
                    <input id="rut" formControlName="rut" class="form-control" placeholder="12345678" maxlength="8" style="flex: 1;">
                    <span class="input-group-text">-</span>
                    <input id="dv" formControlName="dv" class="form-control dv-input" placeholder="9" maxlength="1" style="flex: .3;">
                </div>
                <div *ngIf="matriculaForm.get('rut')?.touched && matriculaForm.get('rut')?.errors?.['rutInvalido'] || matriculaForm.get('dv')?.touched && matriculaForm.get('dv')?.errors?.['rutInvalido']" class="text-danger">
                    El RUT es inválido.
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="telefono" class="form-label">Teléfono</label>
                <div class="input-group">
                    <span class="input-group-text">+56</span>
                    <input id="telefono" formControlName="telefono" class="form-control" pattern="[0-9]{9}" placeholder="912345678" title="Debe contener 9 dígitos" maxlength="9" autocomplete="off">
                </div>
                <div *ngIf="matriculaForm.get('telefono')?.invalid && (matriculaForm.get('telefono')?.dirty || matriculaForm.get('telefono')?.touched)" class="text-danger">
                    El teléfono debe contener exactamente 9 dígitos.
                </div>
            </div>
            <div class="col-md-6">
                <label for="correo_electronico" class="form-label">Correo Electrónico</label>
                <input id="correo_electronico" formControlName="correo_electronico" type="email" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="estado_civil" class="form-label">Estado Civil</label>
                <input id="estado_civil" formControlName="estado_civil" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="nacionalidad" class="form-label">Nacionalidad</label>
                <input id="nacionalidad" formControlName="nacionalidad" class="form-control">
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-6">
                <label for="actividad" class="form-label">Actividad</label>
                <input id="actividad" formControlName="actividad" class="form-control">
            </div>
            <div class="col-md-6">
                <label for="escolaridad" class="form-label">Escolaridad</label>
                <input id="escolaridad" formControlName="escolaridad" class="form-control">
            </div>
        </div>
        <div formArrayName="estudiantes" class="row mb-3 mt-3">
            <div *ngFor="let estudiante of estudiantes.controls; let i=index" [formGroupName]="i" class="mb-3">
                <h2 class="h5 d-flex justify-content-between align-items-center">
                    <strong>Datos Estudiante {{i + 1}}</strong>
                    <button type="button" class="btn btn-danger btn-sm" (click)="removeEstudiante(i)">Eliminar</button>
                </h2>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="primer_nombre" class="form-label">Primer Nombre</label>
                        <input id="primer_nombre" formControlName="primer_nombre" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="segundo_nombre" class="form-label">Segundo Nombre</label>
                        <input id="segundo_nombre" formControlName="segundo_nombre" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="primer_apellido" class="form-label">Primer Apellido</label>
                        <input id="primer_apellido" formControlName="primer_apellido" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="segundo_apellido" class="form-label">Segundo Apellido</label>
                        <input id="segundo_apellido" formControlName="segundo_apellido" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
                        <input type="date" id="fecha_nacimiento" formControlName="fecha_nacimiento" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="rut" class="form-label">RUT</label>
                        <div class="input-group">
                            <input id="rut" formControlName="rut" class="form-control" placeholder="12345678" maxlength="8" style="flex: 1;">
                            <span class="input-group-text">-</span>
                            <input id="dv" formControlName="dv" class="form-control dv-input" placeholder="9" maxlength="1" style="flex: .3;">
                        </div>
                        <div *ngIf="estudiante.get('rut')?.touched && estudiante.get('rut')?.errors?.['rutInvalido'] || estudiante.get('dv')?.touched && estudiante.get('dv')?.errors?.['rutInvalido']" class="text-danger">
                            El RUT es inválido.
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="genero" class="form-label">Género</label>
                        <select id="genero" formControlName="genero" class="form-control">
                            <option [value]="'M'">Masculino</option>
                            <option [value]="'F'">Femenino</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="alergico" class="form-label">Alérgico</label>
                        <input id="alergico" formControlName="alergico" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <label for="vive_con" class="form-label">Vive con</label>
                        <input id="vive_con" formControlName="vive_con" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="enfermedad_cronica" class="form-label">Enfermedad Crónica</label>
                        <input id="enfermedad_cronica" formControlName="enfermedad_cronica" class="form-control">
                    </div>
                    <div class="col-md-6">
                        <label for="cursoId" class="form-label">Curso</label>
                        <select id="cursoId" formControlName="cursoId" class="form-control">
                            <option *ngFor="let curso of cursos" [value]="curso.id">{{curso.nombre}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col">
                <button type="button" class="btn btn-secondary" (click)="addEstudiante()">Agregar Estudiante</button>
            </div>
        </div>
        <div mat-dialog-actions class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary">Crear nueva matrícula</button>
        </div>
    </form>
</div>
