body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.positionSideBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Ajusta este valor al ancho de tu sidebar */
    height: 100vh;
    z-index: 1000; /* Asegura que el sidebar esté por encima del contenido */
    background-color: #fff; /* Color de fondo para el sidebar */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para darle un mejor aspecto */
}

.posicion {
    margin-left: 262px; /* El mismo valor que el ancho del sidebar */
    /* padding: 20px; */
    flex: 1;
    overflow-y: auto;
    height: 100vh;
    box-sizing: border-box;
}
