<div class="background-container">
    <div class="container mt-3">
      <div class="cabecera">
        <h1>Certificados</h1>
      </div>
      <mat-divider></mat-divider>
  
      <small class="instruccion">Seleccione qué documento desea generar ➔</small>
  
      <div class="cardContenedor">
        <div
          class="card"
          *ngFor="let item of vars"
          [ngClass]="item.color"
          (click)="openModal(item)"
        >
          <div class="card-body">
            <h2>{{ item.name }}</h2>
            <div class="card-icon">
              <i class="{{ item.icon }}"></i>
            </div>
          </div>
          <div class="card-footer">
            <button mat-button class="btn-generate">Generar ➔</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  