<div class="background-container">
    <div class="container mt-3">
        <h1><b>Certificados</b></h1>
        <mat-divider></mat-divider>

        <small><b>Seleccione qué documento desea generar ➔</b></small>

        <div class="cardContenedor">
            <div class="card text-center" *ngFor="let var1 of vars" [ngClass]="var1.color">
                <div class="card-body">
                    <div class="card-content">
                        <h2>{{ var1.name }}</h2>
                    </div>
                    <div class="card-icon">
                        <i class="{{ var1.icon }}"></i>
                    </div>
                </div>
                <div class="card-footer">
                    <button mat-button (click)="openModal(var1)">Generar ➔</button>
                </div>
            </div>
        </div>
    </div>
</div>
