<div class="color posicion border">
  <div class="container">
    <div class="cabecera mt-3">
      <h1><b>Bienvenido/a {{nameUser}}</b></h1>
    </div>
    <div style="display: flex; justify-content: center;">
      <img src="../../../assets/img/1.png" width="50%">
    </div>
    <div class="cardContenedor">
      <div class="card text-center m-2" *ngFor="let var1 of filteredVars" [ngClass]="var1.color">
        <div class="card-body">
          <div class="card-content">
            <h2>{{var1.name}}</h2>
          </div>
          <div class="card-icon">
            <i class="{{var1.icon}}"></i>
          </div>
        </div>
        <div class="card-footer">
          <a routerLink="/{{var1.link}}">Más información ➔</a>
        </div>
      </div>
    </div>
  </div>
</div>