<div class="color posicion border">
  <div class="container-fluid mt-3">
    <h1><b>Gestión de Anotaciones</b></h1>
    <hr>

    <!-- Cargando datos -->
    <div *ngIf="!hasLoadedData">Cargando Datos...</div>

    <!-- Contenido después de cargar los datos -->
    <div *ngIf="hasLoadedData">
      <!-- Pestañas de cursos -->
      <ul class="nav nav-tabs container" id="myTab" role="tablist">
        <li class="nav-item" role="presentation" *ngFor="let cursoId of getCursoKeys(); let i = index">
          <button class="nav-link" [class.active]="i === 0" [id]="'tab-' + cursoId"
            data-bs-toggle="tab" [attr.data-bs-target]="'#content-' + cursoId" type="button"
            role="tab" [attr.aria-controls]="'content-' + cursoId" [attr.aria-selected]="i === 0 ? 'true' : 'false'">
            <span class="linkColor">{{ dataSourceCursos[cursoId].nombreCurso }}</span>
          </button>
        </li>
      </ul>

      <!-- Contenido de las pestañas -->
      <div class="tab-content container filters" id="myTabContent">
        <div *ngFor="let cursoId of getCursoKeys(); let i = index" class="tab-pane fade"
          [class.show.active]="i === 0" [id]="'content-' + cursoId" role="tabpanel"
          [attr.aria-labelledby]="'tab-' + cursoId">
          <div class="mat-elevation-z8 mt-3">
            <table mat-table [dataSource]="dataSourceCursos[cursoId].dataSource" class="full-width">
              
              <!-- Columna ID Estudiante -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
              </ng-container>

              <!-- Columna Nombre Estudiante -->
              <ng-container matColumnDef="nombre_estudiante">
                <th mat-header-cell *matHeaderCellDef>Nombre Estudiante</th>
                <td mat-cell *matCellDef="let element">{{ element.nombre_estudiante }}</td>
              </ng-container>

              <!-- Columna RUT Estudiante -->
              <ng-container matColumnDef="rut_estudiante2">
                <th mat-header-cell *matHeaderCellDef>RUT Estudiante</th>
                <td mat-cell *matCellDef="let element">{{ element.rut_estudiante2 }}</td>
              </ng-container>

              <!-- Columna Ver Anotaciones -->
              <ng-container matColumnDef="ver_anotacion">
                <th mat-header-cell *matHeaderCellDef class="text-center">Ver</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <button class="btn btn-warning" (click)="openModalVerAnotacion(element)">Ver Anotaciones</button>
                </td>
              </ng-container>

              <!-- Columna Ingresar Anotación -->
              <ng-container matColumnDef="ingresar_anotacion">
                <th mat-header-cell *matHeaderCellDef class="text-center">Ingreso</th>
                <td mat-cell *matCellDef="let element" class="text-center">
                  <button class="btn btn-primary" (click)="openModalIngresoAnotacion(element)">Ingresar Anotación</button>
                </td>
              </ng-container>

              <!-- Filas de encabezado y datos -->
              <tr mat-header-row *matHeaderRowDef="displayedColumnsCursos"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumnsCursos;"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
