<div class="color posicion border">
  <div class="container">

    <div class="cabecera">
      <h1><b>Información Financiera</b></h1>
    </div>

    <mat-accordion class="accordion-wrapper" multi>
      <!-- 1. Lista de morosos -->
      <mat-expansion-panel class="custom-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>Resumen</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="accordion-content">
          <!-- contenido de tu lista de morosos -->
          <div class="cardContenedor justify-content-center">
            <div class="card text-center m-2" *ngFor="let var1 of vars">
              <a routerLink="/{{var1.link}}">
                <div>
                  <h2>{{var1.name}}</h2>
                </div>
                <div>
                  <h5>{{var1.date | date }}</h5>
                </div>
                <div>
                  <h3 *ngIf="var1.name !== 'Número de Morosos'; else countTemplate">
                    <strong>
                      {{var1.mount | formatNumeros }}
                    </strong>
                  </h3>
                  <ng-template #countTemplate>
                    <h3>
                      <strong>
                        {{var1.count}}
                      </strong>
                    </h3>
                  </ng-template>
                </div>
              </a>
            </div>
          </div>
          <div class="chart-container m-3">
            <canvas id="myChart3"></canvas>
            <canvas id="myChart4"></canvas>
          </div>
        </div>
      </mat-expansion-panel>
    
      <!-- 2. Detalle general -->
      <mat-expansion-panel class="custom-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>Detalle general</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="accordion-content">
          <!-- contenido de detalle general -->
        </div>
      </mat-expansion-panel>
    
      <!-- 3. Detalle mensual -->
      <mat-expansion-panel class="custom-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>Detalle mensual</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="accordion-content">
          <!-- contenido de detalle mensual -->
        </div>
      </mat-expansion-panel>
    
      <!-- 4. Detalle anual -->
      <mat-expansion-panel class="custom-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>Detalle anual</mat-panel-title>
        </mat-expansion-panel-header>
        <div class="accordion-content">
          <!-- contenido de detalle anual -->
        </div>
      </mat-expansion-panel>
    </mat-accordion>



  </div>
</div>