<div class="color posicion border">
  <div class="container mt-3">
    <div class="cabecera">
      <h1><b>Calendario Escolar</b></h1>
    </div>

    <!-- Selector de curso -->
    <mat-form-field appearance="fill" class="mx-3" style="width: 300px;">
      <mat-label>Seleccionar Curso</mat-label>
      <mat-select [(value)]="cursoSeleccionado" (selectionChange)="getAllAsignaturas()" placeholder="Curso">
        <mat-option *ngFor="let curso of cursos" [value]="curso.id">
          {{ curso.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="mx-3 my-3" style="width: 300px;">
      <mat-select [(value)]="asignaturaSeleccionada" (selectionChange)="onAsignaturaSelected($event.value)"
        placeholder="Asignatura" [disabled]="!cursoSeleccionado">
        <mat-option *ngFor="let asignatura of asignaturas" [value]="asignatura.id">
          {{ asignatura.nombre_asignatura }}
        </mat-option>
      </mat-select>

    </mat-form-field>

    <button mat-raised-button color="primary" class="mx-1" (click)="buscarCalendarioCurso()">
      Buscar
    </button>
    <button mat-raised-button color="accent" (click)="volverCalendario()">
      Volver a Calendario Escolar
    </button>

    <div class="row">
      <!-- Calendario -->
      <div class="mx-3 mt-2" *ngIf="mostrarCursoSeleccionado && cursoSeleccionado">
        <p style="font-size: 1.2rem; font-weight: bold; color: #1E88E5;">
          <span style="color: black;">Curso seleccionado: </span>{{ getNombreCursoSeleccionado() }}
        </p>
        <p style="font-size: 1.2rem; font-weight: bold; color: #1E88E5;">
          <span style="color: black;">Asignatura seleccionada: </span>{{ nombreAsignaturaSeleccionada}}
        </p>
      </div>


      <div class="col-md-7">
        <div class="calendar-wrapper">
          <div class="calendar-container">
            <mat-calendar #calendarContainer [selected]="selectedDate" (selectedChange)="onDateSelected($event)"
              [dateClass]="dateClass"></mat-calendar>
          </div>
        </div>
      </div>

      <!-- Card con fechas -->
      <div class="col-md-5 mt-3">
        <mat-card>
          <h4 class="mt-3"><strong>Indicadores Calendario Escolar:</strong></h4>
          <div class="instructions">
            <div class="instruction-item">
              <span class="circle red"></span>
              <span>Días feriados e interferiados</span>
            </div>
            <div class="instruction-item">
              <span class="circle blue"></span>
              <span>Clases Importantes</span>
            </div>
            <div class="instruction-item">
              <span class="circle yellow"></span>
              <span>Eventos escolares</span>
            </div>
            <div class="instruction-item">
              <span class="circle purple"></span>
              <span>Días con múltiples actividades</span>
            </div>

            <h4 class="mt-3"><strong>Indicadores Calendario Cursos:</strong></h4>
            <div class="instruction-item">
              <span class="circle red"></span>
              <span>Pruebas</span>
            </div>
            <div class="instruction-item">
              <span class="circle pink"></span>
              <span>Trabajo Evaluado</span>
            </div>
            <div class="instruction-item">
              <span class="circle yellow"></span>
              <span>Tareas</span>
            </div>
            <div class="instruction-item">
              <span class="circle blue"></span>
              <span>Reunión de Apoderados</span>
            </div>
            <div class="instruction-item">
              <span class="circle green"></span>
              <span>Excursión Pedagógica</span>
            </div>
            <div class="instruction-item">
              <span class="circle purple"></span>
              <span>Días con múltiples actividades</span>
            </div>
          </div>
        </mat-card>
      </div>

    </div>
  </div>
</div>