<mat-sidenav-container class="sidenav-container">
    <!-- SIDENAV: tu menú lateral -->
    <mat-sidenav #sidenav mode="side" class="sidenav" [style.width.px]="300">
        <!-- Logo -->
        <a mat-list-item routerLink="/home" routerLinkActive="active" class="link-dark">
            <img src="../assets/img/logo.png" alt="Logo Colegio Andes" class="logo mt-5">
        </a>

        <!-- Menú de navegación -->
        <mat-nav-list>
            <!-- Inicio -->
            <mat-nav-list class="mb-1 primary-section" mat-button>
                <a mat-list-item routerLink="/home" routerLinkActive="active" class="link-dark">
                    <i class="fas fa-home icon2"></i>
                    <span>Inicio</span>
                </a>
            </mat-nav-list>

            <!-- Calendario Escolar -->
            <mat-nav-list class="mb-1 primary-section" mat-button>
                <a mat-list-item routerLink="/calendario-escolar" routerLinkActive="active" class="link-dark">
                    <i class="fas fa-calendar-alt icon2"></i>
                    <span>Calendario Escolar</span>
                </a>
            </mat-nav-list>

            <!-- Ficha Alumnos -->
            <mat-nav-list class="mb-1 primary-section" mat-button>
                <a mat-list-item routerLink="/ficha-alumnos" routerLinkActive="active" class="link-dark">
                    <i class="fas fa-file-alt icon2"></i>
                    <span>Ficha Alumnos</span>
                </a>
            </mat-nav-list>

            <!-- Matrículas (admin/subAdmin) -->
            <mat-list-item
                *ngIf="rolUser === 'administrador' || rolUser === 'subAdministrador' || rolUser === 'profesor-utp' "
                class="mb-1 primary-section" mat-button (click)="toggleMatriculas()">
                <i class="fas fa-book icon"></i>
                <span>Matrículas</span>
                <mat-icon class="expand-icon">{{ isMatriculasOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
            </mat-list-item>
            <mat-nav-list class="secondary-section" *ngIf="isMatriculasOpen">
                <a mat-list-item routerLink="/matriculas" routerLinkActive="active">Libro de Matrículas</a>
                <a mat-list-item routerLink="/certificados" routerLinkActive="active">Certificados</a>
                <a mat-list-item routerLink="/bandeja-talleres" routerLinkActive="active">Inscripciones Talleres</a>
            </mat-nav-list>

            <!-- Finanzas (admin) -->
            <mat-list-item *ngIf="rolUser === 'administrador'" class="mb-1 primary-section" mat-button
                (click)="toggleFinanzas()">
                <i class="fas fa-chart-line icon"></i>
                <span>Finanzas</span>
                <mat-icon class="expand-icon">{{ isFinanzasOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
            </mat-list-item>
            <mat-nav-list class="secondary-section" *ngIf="isFinanzasOpen">
                <a mat-list-item routerLink="/boletas" routerLinkActive="active">Información</a>
                <a mat-list-item routerLink="/boletas-edicion" routerLinkActive="active">Detalle Finanzas</a>
                <a mat-list-item routerLink="/boletas-mantenedor" routerLinkActive="active">Mantenedor Boletas</a>
            </mat-nav-list>

            <!-- Cursos (profesor/admin) -->
            <mat-list-item *ngIf="rolUser === 'profesor' || rolUser === 'profesor-utp' || rolUser === 'profesor-pae' || rolUser === 'administrador'"
                class="mb-1 primary-section" mat-button (click)="toggleProfesor()">
                <i class="fas fa-users icon"></i>
                <span>Cursos</span>
                <mat-icon class="expand-icon">{{ isProfesorOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
            </mat-list-item>
            <mat-nav-list class="secondary-section" *ngIf="isProfesorOpen">
                <a *ngIf="rolUser === 'profesor' || rolUser === 'profesor-utp'|| rolUser === 'administrador'" mat-list-item routerLink="/cursos-notas" routerLinkActive="active">Registro de Notas</a>
                <a *ngIf="rolUser === 'profesor' || rolUser === 'profesor-utp'|| rolUser === 'administrador'" mat-list-item routerLink="/cursos-asistencia" routerLinkActive="active">Registro de Asistencia</a>
                <a *ngIf="rolUser === 'profesor' || rolUser === 'profesor-utp' || rolUser === 'profesor-pae'|| rolUser === 'administrador'" mat-list-item routerLink="/cursos-anotaciones" routerLinkActive="active">Registro de Anotaciones</a>
            </mat-nav-list>

            <!-- Administración (admin/subAdmin) -->
            <mat-list-item *ngIf="rolUser === 'administrador' || rolUser === 'subAdministrador'"
                class="mb-1 primary-section" mat-button (click)="toggleAdm()">
                <i class="fas fa-cog icon"></i>
                <span>Administración</span>
                <mat-icon class="expand-icon">{{ isAdministacionOpen ? 'expand_less' : 'expand_more' }}</mat-icon>
            </mat-list-item>
            <mat-nav-list class="secondary-section" *ngIf="isAdministacionOpen">
                <a mat-list-item routerLink="/boletas-mantenedor" routerLinkActive="active">Mantenedor Boletas</a>
            </mat-nav-list>
        </mat-nav-list>

        <!-- Perfil de usuario -->
        <hr>
        <div class="perfil">
            <strong><small>Perfil</small></strong>
            <div class="perfil-container d-flex flex-column align-items-start">
                <div class="dropdown d-flex align-items-center mt-2">
                    <img [src]="genderUser==='F'?'../../../assets/img/6.png':'../../../assets/img/5.png'" alt="avatar"
                        width="50" height="50" class="rounded-circle me-2">
                    <a mat-list-item [matMenuTriggerFor]="userMenu" class="text-black text-decoration-none">
                        <div class="datosPerfil d-flex flex-column ms-2">
                            <strong>{{ nombreUser }}</strong>
                            <small>
                                {{
                                rolUser === 'profesor-utp'
                                ? 'UTP'
                                : rolUser === 'profesor-pae'
                                ? 'PAE'
                                : rolUser === 'profesor'
                                ? 'Profesor'
                                : 'Administrador'
                                }}
                            </small>
                        </div>
                    </a>
                    <mat-menu #userMenu="matMenu">
                        <button mat-menu-item routerLink="#">Perfil</button>
                        <button mat-menu-item (click)="logout()">Cerrar Sesión</button>
                    </mat-menu>
                </div>
            </div>
        </div>
    </mat-sidenav>

    <!-- CONTENIDO: toolbar + vistas -->
    <mat-sidenav-content>
        <mat-toolbar class="toolbar">
            <button mat-icon-button (click)="sidenav.toggle()" class="sidenavBotton">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="title">Intranet Colegio Andes Chile</span>
        </mat-toolbar>

        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>