.logo {
    width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Sección primaria */
.primary-section {
    background-color: #e6f7ff;
    /* Fondo azul claro */
    color: #003366;
    /* Texto azul oscuro */
    font-weight: bold;
    border-radius: 8px;
    padding: 12px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, background-color 0.3s;
}

.primary-section:hover {
    background-color: #cce7ff;
    color: #001f4d;
}

/* Sección secundaria */
.secondary-section {
    background-color: #f0f8ff;
    padding: 8px 16px;
    margin: 5px 2px 15px 20px;
    border-left: 4px solid #ff4d4d;
    border-radius: 6px;
    align-items: center;
    justify-items: center;
}

/* Sección secundaria */
.secondary-section a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #003366;
    font-size: 15px;
    font-weight: bold;
    padding: 10px 0;
    background-color: #f0f8ff;
    border-radius: 6px;
    transition: background-color 0.3s, color 0.3s;
}

.secondary-section a:hover {
    background-color: #003366;
    color: #ffffff;
}

.icon {
    margin-right: 10px;
    font-size: 20px;
    color: #003366;
}

.icon:hover {
    color: #001f4d;
    border-radius: 6px;
}

.icon2 {
    margin-right: 10px;
    font-size: 20px;
    color: #001f4d;
}

/* Links activos */
.active {
    background-color: #003366 !important;
    color: white !important;
    font-weight: bold;
    border-radius: 6px;
}

a.active .icon2 {
    color: #ffffff;
    /* Blanco */
}

/* Efectos en el menú */
.expand-icon {
    margin-left: auto;
    color: #003366;
}

/* Estilo del sidenav */
.sidenav {
    background-color: #e6f2ff;
    /* Fondo azul claro */
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

html,
body,
app-root {
    height: 100%;
    margin: 0;
}

/* El contenedor de Material debe ser full-height */
.sidenav-container {
    height: 100vh;
}

/* Deja que el contenido interno crezca libremente */
mat-sidenav-content {
    height: 100%;
}

.perfil {
    cursor: pointer;
}