<div class="p-3 bg-light border" style="width: 280px; height: 100vh;">
    <a class="d-flex align-items-center pb-3 mb-3 link-dark">
        <img class="logo" src="../assets/img/logo.png" alt="">
    </a>
    <ul class="list-unstyled ps-0">
        <strong><small>Menu</small></strong>
        <li class="mb-1">
            <button routerLink="/home" routerLinkActive="active"
                class="btn btn-toggle-inicio align-items-center rounded" aria-expanded="true">
                <img src="../../../assets/icon/house.svg" alt="" class="icon">
                Inicio
            </button>
        </li>

        <li *ngIf="rolUser === 'administrador'" class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#matriculas-collapse" aria-expanded="false">
                <img src="../../../assets/icon/book.svg" alt="" class="icon">
                Matrículas
            </button>
            <div class="collapse" id="matriculas-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a class="link-dark rounded" routerLink="/matriculas" routerLinkActive="active">Libro de Matrículas</a></li>
                </ul>
            </div>
        </li>

        <li *ngIf="rolUser === 'administrador'" class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#finance-collapse" aria-expanded="false">
                <img src="../../../assets/icon/clipboard-data.svg" alt="" class="icon">
                Finanzas
            </button>
            <div class="collapse" id="finance-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a class="link-dark rounded" routerLink="/boletas" routerLinkActive="active">Detalle Boletas</a></li>
                    <li><a class="link-dark rounded" routerLink="/boletas-apoderado" routerLinkActive="active">Busqueda por Apoderado</a></li>
                </ul>
            </div>
        </li>

        <li *ngIf="rolUser === 'profesor'" class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                data-bs-target="#curso-collapse" aria-expanded="false">
                <img src="../../../assets/icon/people.svg" alt="" class="icon">
                Cursos
            </button>
            <div class="collapse" id="curso-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a class="link-dark rounded" routerLink="/cursos" routerLinkActive="active">Gestionar Anotaciones</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <hr>
    <div class="mB">
        <strong><small>Perfil</small></strong>
    </div>
    <div class="dropdown">
        <a class="d-flex align-items-center text-black text-decoration-none dropdown-toggle" id="dropdownUser1"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="../../../assets/img/6.png" alt="" width="50" height="50" class="rounded-circle me-2">
            <div class="datosPerfil">
                <strong>{{nombreUser}}</strong>
                <small>{{rolUser === 'profesor' ? 'Profesor' : 'Administrador'}}</small>
            </div>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" routerLink="#">Perfil</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" (click)="logout()">Cerrar Sesión</a></li>
        </ul>
    </div>
</div>
