<h1 mat-dialog-title class="modal-title d-flex justify-content-between align-items-center">
  <b>Editar Información del Estudiante</b>
  <button mat-icon-button (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </button>
</h1>
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Primer Nombre</mat-label>
            <input matInput formControlName="primer_nombre_alumno" />
            <mat-error *ngIf="editForm.get('primer_nombre_alumno')?.invalid">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Segundo Nombre</mat-label>
            <input matInput formControlName="segundo_nombre_alumno" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Primer Apellido</mat-label>
            <input matInput formControlName="primer_apellido_alumno" />
            <mat-error *ngIf="editForm.get('primer_apellido_alumno')?.invalid">
              Campo requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Segundo Apellido</mat-label>
            <input matInput formControlName="segundo_apellido_alumno" />
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha de Nacimiento</mat-label>
            <input
              matInput
              formControlName="fecha_nacimiento_alumno"
              [matDatepicker]="picker1"
            />
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Fecha de Matrícula</mat-label>
            <input
              matInput
              formControlName="fecha_matricula"
              [matDatepicker]="picker2"
            />
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2></mat-datepicker>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>RUT</mat-label>
            <input matInput formControlName="rut" />
            <mat-error *ngIf="editForm.get('rut')?.invalid">RUT inválido</mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Género</mat-label>
            <mat-select formControlName="genero_alumno">
              <mat-option value="F">Femenino</mat-option>
              <mat-option value="M">Masculino</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-checkbox formControlName="autorizacion_fotografias">
            ¿Autoriza Fotografías?
          </mat-checkbox>
        </div>
        <div class="col-md-6">
          <mat-checkbox formControlName="apto_educacion_fisica">
            ¿Apto para Educación Física?
          </mat-checkbox>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <mat-checkbox formControlName="es_pae">
            ¿Es PAE?
          </mat-checkbox>
        </div>
        <div class="col-md-6">
          <mat-checkbox formControlName="estado_estudiante">
            ¿Alumno Matriculado?
          </mat-checkbox>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <mat-dialog-actions class="d-flex justify-content-end">
    <button mat-button type="button" (click)="closeModal()">Cancelar</button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="editForm.invalid"
    >
      Guardar
    </button>
  </mat-dialog-actions>
</form>
